@*@model WPLMVC.Models.RegisterViewModel
    @using WPLMVC.Controllers
@{
    ViewBag.Title = "Register";
}
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{ 
    <div class="signup-page">
        <div class="wrapper">
            <div class="header header-filter" style="background-image: url('http://vignette4.wikia.nocookie.net/olympians/images/b/b1/LA.jpeg/revision/latest?cb=20150303212850'); background-size: cover; background-position: top center;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                            <div class="card card-signup">
                                <form class="form" action="Register" method="get">
                                    <div class="header header-primary text-center">
                                        <h4>Sign Up</h4>
                                        <div class="social-line">
                                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-simple btn-just-icon">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <p class="text-divider">Or Be Classical</p>
                                    <div class="content">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">email</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.RegisterUsername)</label>
                                                <input type="text" class="form-control validate" name="UserName" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">email</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.RegisterEmail)</label>
                                                <input type="email" class="form-control validate" name="UserName" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">lock_outline</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.RegisterPassword)</label>
                                                <input type="password" class="form-control validate" name="Password" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">email</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.ConfirmPassword)</label>
                                                <input type="password" class="form-control validate" name="ConfirmPassword" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">email</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.FirstName)</label>
                                                <input type="text" class="form-control validate" name="FirstName" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>


                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">email</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.LastName)</label>
                                                <input type="text" class="form-control validate" name="LastName" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">email</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.Country)</label>
                                                <input type="text" class="form-control validate" name="Country" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="material-icons">email</span>
                                            </div>
                                            <div class="form-group label-floating">
                                                <label class="control-label">@Html.LabelFor(m => m.BirthDate)</label>
                                                <input type="text" class="form-control validate" name="BirthDate" required />
                                                <span class="material-icons form-control-feedback">clear</span>
                                            </div>
                                        </div>

                                        @*<div class="input-group">
                                                <div class="input-group-addon">
                                                    <span class="material-icons">lock_outline</span>
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" name="Password" required>
                                                </div>
                                            </div>*@
                                    @*</div>
                                    <br />
                                    <br />
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                    <br />

                                </form>*@
                                @*<button type="button" class="btn btn-danger btn-simple" data-target="#myModal" data-dismiss="modal">Terms & Conditions</button>*@
                            @*</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}*@*;



@model WPLMVC.Models.RegisterViewModel
@using WPLMVC.Controllers
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RegisterUsername, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.RegisterUsername, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RegisterEmail, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.RegisterEmail, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RegisterPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.RegisterPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control" })
            </div>
        </div>
    {
        ViewBag.Country = AccountController.GetCountries();
    }
    <div class="form-group">
        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Country, (IEnumerable<SelectListItem>)ViewBag.Country, new { @class = "btn btn-simple dropdown-toggle" })
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


